h3 {
  font-weight: 600;
}

.email-grid {
  margin: -5% 5% 2% 5%;
}

.results {
  text-align: left;
  padding: 2% 0 1% 0;
  border-bottom: 1px solid #DDD;
  width: 100%;
  color: grey;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px 0;
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  font-weight: 700;
  font-size: 0.9em;
  color: grey;
}

.from {
  width: 15%;
  text-align: left;
  padding-left: 1%;
}

.to {
  width: 30%;
  text-align: left;
}

.subject {
  width: 45%;
  text-align: left;
}


.date {
  width: 5%;
  text-align: left;
}

strong {
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(109, 107, 107);
}

.arrow-icon {
  width: 10px;
  padding: 0 0 1% 5%;
}

.inactive {
  display: none;
}

.bold {
  font-weight: 700;
  color: black;
}

@media (max-width: 500px) {
  .email-grid {
    margin: 0;
  }

  .results {
    padding-left: 7%;
  }

  .from {
    width: 20%;
    text-align: left;
  }
  
  .to {
    width: 15%;
    text-align: left;
  }
  
  .subject {
    width: 25%;
    text-align: left;
  }
  
  
  .date {
    width: 20%;
    text-align: left;
  }

  .header > div:not(:last-child) {
    margin-right: 5%;
    border-right: 1px solid rgb(8, 8, 8);
  }

  .header > div:first-child {
    padding-left: 7%;
  }
}
