.email-row {
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;
  border-bottom: 1px solid #DDD;
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: none;
  white-space: nowrap;
}

.email-row:hover { 
  color: blue;
  background-color: rgb(245, 250, 253);
  cursor: pointer;
}

.email-row:hover > .attachment-wrapper > .attachment-icon {
  filter: sepia(100) saturate(30) hue-rotate(210deg) brightness(98%);
}

.from-details,
.to-details,
.subject-details,
.attachment-icon,
.date-details,
.additional-recipients-details-wrapper {
  padding: 15px 0;
}

.from-wrapper {
  width: 15%;
  text-align: left;
  padding-left: 10px;
}

.from-details {
  width: 75%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.to-details {
  width: 20%;
  text-align: left;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.additional-recipients-details-wrapper {
  width: 10%;
}

.subject-details {
  width: 40%;
  text-align: left;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.attachment-icon-wrapper {
  width: 5%;
  text-align: right;
}

.attachment-icon {
  width: 15px;
  padding-right: 15px;
}

.date-details {
  width: 5%;
  text-align: left;
}

.additional-recipients-details {
  color: white;
  width: 25px;
  float: right;
  padding: 2px 0;
  margin-right: 30%;
  background: rgb(155, 143, 143);
  border-radius: 3px;
}

/* state derived CSS */
.email-body-inactive {
  position: absolute;
  display: block;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out, max-height 0.1s ease-in-out;
  transition: opacity 0.25s ease-in-out, max-height 0.1s ease-in-out;
}

.email-body-active {
  overflow: hidden;
  visibility: visible;
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px solid #DDD;
  max-height: 500px;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out, max-height 1s ease-in-out;
  transition: opacity 0.3s ease-in-out, max-height 2s ease-in-out;
}

.email-row-highlight {
  color: blue;
  background-color: rgb(245, 250, 253);
}

.email-row-highlight > 
.attachment-icon-mobile {
  filter: sepia(100) saturate(30) hue-rotate(210deg) brightness(98%);
}

/* mobile component CSS */
.email-row-mobile {
  /* display: inline-block;
  flex-direction: column; */
  text-align: left;
  padding: 15px 20px;
  border-bottom: 1px solid #DDD;
  white-space: nowrap;
  overflow: hidden;
}

.mail-icon-container, .details-container-mobile, .details-from-mobile, .extra-details-mobile,
.additional-details-mobile,
.details-to-mobile,
.additional-details-to-mobile {
  display: inline-block;
  vertical-align: top;
}

.mail-icon-container {
  width: 5%;
  padding-right: 2%;
}

.details-container-mobile {
  width: 100%;
}

.details-mobile {
  width: 100%;
  margin-bottom: 2%;
}

.details-from-mobile {
  width: 70%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.extra-details-mobile {
  width: 30%;
  text-align: right;
  margin-left: -5%;
}

.chevron-icon {
  width: 3%;
  padding-left: 5%;
  padding-bottom: 3%;
}

.mail-icon {
  display: inline-block;
  width: 80%;
  margin-top: 30%;
}

.attachment-icon-mobile {
  width: 15%;
  padding-right: 5%;
}

.additional-details-mobile {
  width: 100%;
  margin-bottom: 3%;
}

.details-to-mobile {
  width: 80%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.additional-details-to-mobile {
  color: white;
  width: 8%;
  text-align: center;
  padding: 2px 0;
  margin-left: 6%;
  background: rgb(155, 143, 143);
  border-radius: 3px;
}

.subject-mobile {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}
/* .from-wrapper-mobile {
  display: inline-block;
  width: 90%;
}

.chevron-icon {
  width: 3px;
}

.mail-icon {
  display: inline-block;
  width: 15px;
}

.attachment-icon-mobile {
  width: 15px;
}

.mail-icon-wrapper {
  display: inline-block;
}

.from-details-mobile {
}

.date-details-mobile {
  float: right;
}

.to-details-mobile {
  display: block;
  width: 90%;
  overflow-x: hidden;
  text-overflow: ellipsis;
} */

/* @media (max-width: 768px) {
  .email-row {
    display: inline-block;
    position: relative;
    padding: 5px 20px;
  }
  
  .from-details,
  .to-details,
  .subject-details,
  .attachment-details,
  .date-details,
  .additional-recipients-details-wrapper {
    padding: 5px 0;
  }
  
  .from-wrapper {
    width: 100%;
    text-align: left;
  }
  
  .from-details {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  
  .to-details {
    width: 100%;
    text-align: left;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
  }
  
  .additional-recipients-details-wrapper {
    width: 10%;
  }
  
  .subject-details {
    width: 100%;
    text-align: left;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  
  .attachment-wrapper {
    width: 5%;
    text-align: right;
  }
  
  .attachment-details {
    width: 15px;
    padding-right: 15px;
  }
  
  .date-details {
    width: 100%;
    text-align: left;
  }
  
  .additional-recipients-details {
    color: white;
    width: 25px;
    float: right;
    padding: 2px 0;
    margin-right: 30%;
    background: rgb(155, 143, 143);
    border-radius: 3px;
  }
} */